<div class="row">
    <div class="col-md-12">
        {% if test_mode %}
            <div class="alert alert-success">
                <i class="fa fa-info-circle"></i> {{ text_test_mode }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-warning">
                <i class="fa fa-check-circle"></i> {{ error }}
            </div>
        {% else %}
            {{ response }}
            <script>
                var orderReferences = [
                    { key: "partner_checkout_id", value: "{{ order_id }}" },
                    { key: "partner_reserved_order_number", value: "{{ order_id }}" }
                ];

                var options = {
                    onComplete: function(orderReferences){
                        $.ajax({
                            type: "POST",
                            url: '{{ url_confirm }}',
                            data: {
                                id_wasakredit: id_wasakredit,
                                option: 'checkout'
                            },
                            success: function(response) {
                                if (response && response['redirect']) {
                                    window.location.href = response['redirect'];
                                } else {
                                    window.location.href = '{{ url_checkout }}';
                                }
                            }
                        });
                    },
                    onRedirect: function(orderReferences){
                        window.location.href = '{{ url_checkout }}';
                    },
                    onCancel: function(orderReferences){
                        window.location.href = '{{ url_checkout }}';
                    }
                };

                window.wasaCheckout.init(options);

                setTimeout(function(){
                    id_wasakredit = $('#wasaIframe').attr('src').split("id=")[1];
                }, 1000);

                function updateWasa(){

                    return true;
                }

                function createOrder(){
                    window.location.href = redirect;
                }
            </script>
        {% endif %}
    </div>
</div>
