<div class="d-inline-block pt-2 pd-2 w-100 text-end" id="payment-wasa-leasing">
    {% if test_mode %}
        <div class="alert alert-success">
            <i class="fa fa-info-circle"></i> {{ text_test_mode }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-warning">
            <i class="fa fa-check-circle"></i> {{ error }}
        </div>
    {% else %}
        {{ checkout | raw }}
        <script>
            window.wasaCheckout.init({
                onComplete: function(orderReferences) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ create_url }}',
                        data: {
                            data: orderReferences,
                        },
                        success: function(response) {
                            window.location.href = '{{ success_url }}';
                        }
                    });
                },
                onCancel: function(orderReferences) {
                    window.location.href = '{{ cancel_url }}';
                }
            });
        </script>
    {% endif %}
</div>
